h1 {
	text-align: center;
}

#controls {
	text-align: center;
	clear: both;
	margin: 10px auto 0;
}

#board {
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

div.cell {
	border: 1px solid gray;
}

div.cell.alive {
	background-color: #0F0;
}

div.cell.dead {
	background-color: #CCC;
}