h1 {
	text-align: center;
}

#board {
	margin: 0px auto;
	border: 1px solid black;
	clear: both;
}

#controls {
	margin: 0px auto;
	text-align: center;
	clear: both;
	margin-top: 10px;
}

div.cell {
	float: left;
	margin: 0px;
	border: 1px solid black;
}

.cell.alive {
	background-color: #0F0;
}

.cell.dead {
	background-color: #CCC;
}